*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


#can{
    border:2px solid 
}


#erase{
    color: #3fbbea;
    background-color: #352346;
    position: relative;
    left: 0;
    top: -20px;
    font-size: 36px;
    padding: 9px 49px;
}

#save{
    color: #ecfff0;
    background-color: #352346;
    position: relative;
    top: -25px;
    font-size: 26px;
    padding: 16px 25px;
  
}

#clear-all{
    color: #ecfff0;
    background-color: #352346;
    position: relative;
    top: -25px;
    font-size: 26px;
    padding: 16px 25px;
 
}

.colors{
    position: absolute;
    top: 0; 
    left: 30%;
}


input{
    width: 200px;
    height: 80px;
    position: relative;

}

input:before{
    content:"Change color";
    display: block;
    position: absolute;
    color:white;
    font-size: 20px;
    left: 39px;
    top: 21px;
    font-weight: 600;

}

    
